﻿@model HolidayLeave.Web.ViewModels.HolidayLeave.HolidayLeaveCreateViewModel

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

@Styles.Render("~/Content/themes/base/jquery-ui.min.css")

<div class="col-md-10">
    <h2>Dodaj urlop</h2>
</div>

@using (Html.BeginForm("Create", "HolidayLeave", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-3 ">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            <div class='col-md-3'>
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label" })

                <div class="input-group" style="display: block">
                    @Html.EditorFor(model => model.DateFrom, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control date-picker",
                            @placeholder = "yyyy.mm.dd",
                            @Style = "width:80%"
                        }
                     })
                    <span class="input-group-addon form-control" style="width: 20%;">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.DateFrom, string.Empty, new { @class = "text-danger" })
            </div>            
        </div>
        <div class="form-group">
            <div class='col-md-3'>
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label" })

                <div class="input-group" style="display: block">
                    @Html.EditorFor(model => model.DateTo, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control date-picker",
                            @placeholder = "yyyy.mm.dd",
                            @Style = "width:80%"
                        }
                    })
                    <span class="input-group-addon form-control" style="width: 20%;">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.DateTo, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            <div class="row col-md-3 ">
                <div class="col-md-4">
                    <input type="submit" value="Dodaj" class="btn btn-success" />
                </div>
                <div class="col-md-4">
                    <input type="button" value="Koniec" class="btn btn-info" onclick="location.href='@Url.Action("Details", "HolidayLeave")'" />
                </div>
            </div>
        </div>
    </div>

}

@Scripts.Render("~/Scripts/app/views/holidayLeave/calendar.js")