﻿@model HolidayLeave.Web.ViewModels.HolidayLeave.HolidayLeaveDetailsModel

@Scripts.Render("~/Scripts/jquery.validate.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")

@Styles.Render("~/Content/themes/base/jquery-ui.min.css")

<div class="col-md-10">
    <h2>Wynik</h2>
</div>

@using (Html.BeginForm("Details", "HolidayLeave", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <div class="col-md-5">
            <div class="form-group ">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                <div class="input-group" style="display: block">
                    @Html.EditorFor(model => model.Date, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control date-picker",
                       @placeholder = "yyyy.mm.dd",
                       @Value = string.Empty,
                       @Style = "width:90%"
                   }
               })
                    <span class="input-group-addon form-control" style="width: 10%;">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
                <div class="col-md-12">
                    @Html.ValidationMessageFor(model => model.Date, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="form-group ">
                    <div class="row col-md-6 ">
                        <div class="col-md-2">
                            <input type="submit" value="Szukaj" class="btn btn-info" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" value="Dodaj urlop" class="btn btn-success" onclick="location.href='@Url.Action("Create", "HolidayLeave")'" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" value="Wyczyść urlopy" class="btn btn-warning" onclick="location.href='@Url.Action("RemoveAllHolidayLeave", "HolidayLeave")'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @(Html
                    .Grid(Model.HolidayLeaves)
                    .Build(columns =>
                    {
                        columns.Add().RenderedAs((model, row) => row + 1).Titled("Lp");
                        columns.Add(model => model.Name).Titled("Imię");
                        columns.Add(model => model.DateFrom.ToString("yyyy.MM.dd")).Titled("Data od");
                        columns.Add(model => model.DateTo.ToString("yyyy.MM.dd")).Titled("Data do");
                    })
                    .Empty("Brak Danych")
                    .Filterable()
                )
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts/app/views/holidayLeave/calendar.js")